body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

.logo img {
  border-radius: 50%;
}

.categories a {
  display: block;
  margin: 15px;
  padding: 15px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
}

.card img {
  width: 150px;
}

.buy {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
