body {
  font-family: Arial;
  padding: 20px;
}

.categories a {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  background: #eee;
  text-decoration: none;
}

.product {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
